body{
	background-image: url("../images/fondo1.png");
	background-color: #2c2c2c;
}	

.bgstyled1{
	background-image: url("../images/fondo2.png"); 
	padding: 15px;
	border-radius: 5px;
	margin: 10px;

}

.row{
	margin:10px;
        /*border: 1px solid green;*/
}

.fixed{
        position: fixed;
        top: 5px;
}

img{
	z-index: 5;
}

@font-face{
	font-family: 'CCursiva';
	src: url('../fonts/Costume-allura.ttf');
}

@font-face{
	font-family: 'CMolde';
	src: url('../fonts/Costume-bebas.ttf');
}

@font-face{
	font-family: 'CMolde2';
	src: url('../fonts/Costume-deutschlander.otf');
}

.cursiva{
	font-family: CCursiva;
	width:100%;
	word-spacing: 5px;
}

.nombre{
	font-family: CMolde;
	word-spacing: 10px;
	width: 100%;
	margin-top: 5px;
}

.nombre2{
	font-family: CMolde2;
}

.texto{
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;;
	font-size: 14px;
}

#containerMenu {
        padding-top: 10px;
        margin-top: 0;
	/*background-color: rgba(128, 128, 128, 0.5);*/
	z-index: 100;
}

.bordeRedondeado{
	border-radius: 10px;
}

nav ul li{
	font-family: CMolde;
	word-spacing: 5px;
}

nav ul li a.active{
        background-color: #dcdcdc;
}

nav ul li a:hover{
        background-color: rgba(238, 238, 238, 0.5) !important;
}

ul.list-space li {
	margin: 20px 0;
}

#bVolver{
	font-family: CMolde;
}

.section-title-container{
	text-align: center;
}

.section-title{
	font-size: 20px;
	font-weight: bold;
	font-family: CMolde;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 15px;
}

.img-center{
	margin: 0 auto;
}

.img-max-width{
	max-width: 150px;
}

.molde{
	font-family: CMolde;
	word-spacing: 7px;
}

.titulo{
	margin-bottom: 30px;
	font-family: 'CMolde';
}

div.item img{
	width:100%;
 	height:auto;
 	margin: 0 auto;
}

#pestana{
        margin-top: 0;
}

#menuContainer{
	text-align: right;
	margin: 15px;
}

@media screen and (min-width: 380px) and (max-width: 765px){
	.col-bs-1 {width: 8.33%;}
	.col-bs-2 {width: 16.66%;}
	.col-bs-3 {width: 25%;}
	.col-bs-4 {width: 33.33%;}
	.col-bs-5 {width: 41.66%;}
	.col-bs-6 {width: 50%;}
	.col-bs-7 {width: 58.33%;}
	.col-bs-8 {width: 66.66%;}
	.col-bs-9 {width: 75%;}
	.col-bs-10 {width: 83.33%;}
	.col-bs-11 {width: 91.66%;}
	.col-bs-12 {width: 100%;}
}

@media screen and (max-width: 380px){
	#header img{
		max-width: 140px;
		margin: auto;
	}

	#header .img-container{
		text-align: center;
	}

	#header .nombre{
		text-align: center;
	}
}

iframe{
	 width:80%; 
	 height:350px;
	 margin: 0 auto;
}

#curri{
	width: 100%; 
	height: 600px;
}

.link-under{
	text-decoration: underline;
	color: black;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
	padding-top: 60px;
	border-radius: 5px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #337ab7;
    display: block;
	transition: 0.3s;
	border-radius: 5px;
	font-family: CMolde;  
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-width: 348px){
	.pequeno{
		margin-left: 0;
		margin-right: 0;
		padding: 0 !important;
		padding-top: 5px;
	}
	
	.nav-tabs{
		text-align: center;
		margin-top: 10px;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	.nav-tabs>li{
		float: none;
	}
	

}

.burger{
	font-size:20px;
	cursor:pointer;
	color: #337ab7; 
	background-color: #222;
	padding: 10px;
	border-radius: 50%;
	z-index: 90;
}

