<div class="section-title-container">
	<h1 class="section-title">FORMACION ACADEMICA</h1>
</div> 

<formacion-item
	institucion="Instituto Politécnico Nacional"
	escuela =	"Centro de Investigación en Computación"
	titulo =	"M. en C. en Ingeniería de Cómputo"
	trabajo =	"Tesis: Aplicación de métodos de procesamiento digital de voz a señales de audio para la extracción de características de interés para el lenguaje musical"
	periodo =	"Ene/14 - Jul/16"
	imagen =	"CIC1.jpg"
></formacion-item>

<formacion-item
	institucion="Universidad Autónoma Metropolitana"
	escuela =	"Unidad Azcapotzalco"
	titulo =	"Licenciatura en Ingeniería Física"
	periodo =	"Sep/08 - Oct-13"
	imagen =	"UAM1.jpg"
	pull =		"true"
></formacion-item>

<formacion-item
	institucion="Universidad Politécnica de Cataluña"
	escuela =	"Escuela Técnica Superior de Ingeniería de Telecomunicaciones de Barcelona"
	titulo =	"Programa de Movilidad"
	periodo =	"Feb/12 - Jul/12"
	imagen =	"UPC1.jpg"
></formacion-item>

<formacion-item
	institucion="Instituto Politécnico Nacional"
	escuela =	'Centro de Estudios Científicos y Tecnológicos #9 "Juan de Dios Bátiz Paredes"'
	titulo =	"Técnico en Sistemas Digitales"
	periodo =	"Ago/03 - Sep/06"
	imagen =	"Batiz1.jpg"
	pull =		"true"
></formacion-item>