<div class="row well">
	<div class="col-xs-12">
			<h1 class="nombre2"> ¡ Bienvenidos !</h1>
			<p> 
				Creo esta página con el fin de presentar mis intereses personales y profesionales, entre los que puedo mencionar: <br>
				<ul class="">
					<li>Procesamiento digital de señales</li>
					<li>Desarrollo de software</li>
					<li>Diseño web responsivo</li>
					<li>Desarrollo web de front-end</li>
					<li>Acústica y análisis de audio</li>
					<li>Edición de imagen y video</li>
					<li>Fotografía digital</li>
				</ul>
				
				Te invito a que explores mi sitio web y agradezco tus comentarios para mejorarlo. <br><br>
				Contacto: casvar.pablo@gmail.com <br><br>
				
			</p>
			
	</div>	
</div>