<div class="row">
	<div class="col-xs-12 col-sm-6 well">
		<h2 class="text-center titulo">Certificaciones</h2>
		<ul class="list-space">
			<li>Programador Python Jr. <br> Open Intelligence S.A. de C.V. <br> Nov/15</li>
			<li>HTML5 para móviles. <br> Open Intelligence S.A. de C.V. <br> Oct/15</li>
			<li>Programador Jr. para sistema operativo android. <br> Open Intelligence S.A. de C.V. <br> Oct/15</li>
			<li>JavaScript con JQuery para móviles. <br> Open Intelligence S.A. de C.V. <br> Sep/15</li>
			<li>Linux administrator. <br> Open Intelligence S.A. de C.V. <br> Jun/14</li>
		</ul>
	</div>

	<div class="col-xs-12 col-sm-6 well">
		<h2 class="text-center titulo">Cursos</h2>
		<ul class="list-space">
			<li>Java básico.<br>Centro de Investigación en Computación.<br>Oct/14 - Dic/14</li>
			<li>Ser un miembro efectivo del equipo_SkillSoft.<br>Manpower N.A. Training and Development Center recognizes.<br>Ago/12</li>
			<li>Aspectos escenciales del liderazgo: crear su propio plan de desarrollo de liderazgo_SkillSoft.<br>Manpower N.A. Training and Develpoment Center recognizes.<br>Jul/12</li>
			<li>Image processing (Procesamiento de imagen).<br>Universidad Politécnica de Cataluña.<br>Feb/12 - Jul/12</li>
			<li>Acústica, sonorización y grabación del sonido.<br>Universidad Politécnica de Cataluña.<br>Feb/12 - Jul/12</li>
		</ul>
	</div>
</div>
