<div class="row well">
    <div class="col-xs-12 col-sm-6 col-md-6"  ng-class="{'col-sm-push-6': ctrl.pull}">
        <p>
            <b>{{ctrl.institucion}}</b>
            <br>
            <b>{{ctrl.escuela}}</b>
            <br><br>
            {{ctrl.titulo}}
            <br><br>
            <ng-show ng-show="ctrl.trabajo">{{ctrl.trabajo}}<br><br></ng-show>
            Periodo: {{ctrl.periodo}}
        </p>
    </div>

    <div class="hidden-xs col-sm-6 col-md-6" ng-class="{'col-sm-pull-6': ctrl.pull}">
        <img src={{ctrl.imagePath}} alt="image" class="img-responsive img-center">
    </div>

</div>